* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, textarea {
    font-family: "Open Sans", Arial, sans-serif;
    color: $mainColor;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}